{% extends "challenge.html" %}

{% block connection_info %}
<div class="d-block my-2">
    <div class="row text-center">
        <div class="my-2 col-sm-12 col-md-4 col-lg-4">
            <span class="h6 d-block font-weight-bold">Machine Details</span>
            <span id="machine-detail" class="d-inline-flex text-monospace" style="height: calc(100% - 30px); align-items: center;">
                <p>-</p>
            </span>
        </div>
        <div class="my-2 col-sm-12 col-md-4 col-lg-4 d-block">
            <span class="h6 d-block font-weight-bold">Expires</span>
            <span id="machine-expires" class="d-inline-flex" style="height: calc(100% - 30px); align-items: center;">
                <p>-</p>
            </span>
        </div>
        <div class="my-2 col-sm-12 col-md-4 col-lg-4 align-self-center">
            <button id="machine-start" type="button" class="m-1 btn btn-success">Deploy</button>
            <button id="machine-terminate" type="button" class="m-1 btn btn-danger" style="display: none;" disabled>Terminate</button>
        </div>
    </div>
</div>
{% endblock %}