{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Machine List</h1>
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if q and field %}
            <h5 class="text-muted text-center">
                Searching for machine with <strong>{{ field }}</strong> matching <strong>{{ q }}</strong>
            </h5>
            <h6 class="text-muted text-center pb-3">
                Page {{ machines.page }} of {{ machines.total }} results
            </h6>
            {% endif %}

            <form method="GET" class="form-inline">
                <div class="form-group col-md-2">
                    {% set fields = [('id', 'ID'), ('user_name', 'User'), ('challenge_name', 'Challenge Name'), ('task_id', 'Task ID')] %}
                    <select class="form-control custom-select w-100" id="field" name="field" required="">
                        {% for f in fields %}
                        <option value="{{ f.0 }}" {% if field == f.0 %}selected{% endif %}>{{ f.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <input type="text" class="form-control w-100" placeholder="Search for matching machines" id="q" name="q" value="{% if q %}{{ q }}{% endif %}" required="">
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="float-right pb-3">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" id="terminate-selected-btn" disabled>
                        Terminate Selected
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
			<table id="machineboard" class="table table-striped border">
				<thead>
					<tr>
						<th class="border-right" data-checkbox>
							<div class="form-check text-center">
								<input type="checkbox" class="form-check-input" id="machine-check-all" data-checkbox-all>&nbsp;
							</div>
						</th>
						<th class="sort-col text-center"><b>ID</b></th>
						<th class="sort-col"><b>User</b></th>
						<th class="sort-col"><b>Challenge</b></th>
						<th class="sort-col"><b>Task ID</b></th>
						<th class="sort-col text-center"><b>Start</b></th>
						<th class="sort-col text-center"><b>End</b></th>
						<th class="sort-col text-center"><b>Action</b></th>
					</tr>
				</thead>
				<tbody>
                    {% for machine in machines.items %}
                    <tr name="{{ machine.id }}">
                        {% if machine.status == 1 %}
                            <td class="border-right" data-checkbox>
                                <div class="form-check text-center">
                                    <input type="checkbox" class="form-check-input machine-selector" value="{{ machine.id }}" data-machine-id="{{ machine.id }}">&nbsp;
                                </div>
                            </td>
                        {% else %}
                            <td class="border-right">
                                <div class="form-check text-center">
                                    &nbsp;
                                </div>
                            </td>
                        {% endif %}
                        <td class="machine-id text-center">{{ machine.id }}</td>
                        <td class="machine-user">
                            <a href="{{ url_for('admin.users_detail', user_id=machine.user_id) }}">
                                {{ machine.user.name | truncate(50) }}
                            </a>
                        </td>
                        <td class="machine-chall">
                            <a href="{{ url_for('admin.challenges_detail', challenge_id=machine.chall_id) }}">
								{{ machine.challenge.name }}
							</a>
                        </td>
                        <td class="machine-task-id">{{ machine.task_id }}</td>
                        <td class="machine-start">
							<span data-time="{{ machine.time_str | isoformat }}"></span>
                        </td>
                        <td class="machine-end">
							<span data-time="{{ machine.time_end | isoformat }}"></span>
                        </td>
                        <td class="machine-action">
                            {% if machine.status == 1 %}
                            <button type="button" class="btn btn-outline-danger terminate-btn" data-machine-id="{{ machine.id }}">
                                Terminate
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if machines.pages > 1 %}
			<div class="text-center">Page
				<br>
				{% if machines.page != 1 %}
					<a href="{{ prev_page }}">&lt;&lt;&lt;</a>
				{% endif %}
				<select class="page-select">
					{% for page in range(1, machines.pages + 1) %}
					<option {% if machines.page == page %}selected{% endif %}>{{ page }}</option>
					{% endfor %}
				</select>
				{% if machines.next_num %}
					<a href="{{ next_page }}">&gt;&gt;&gt;</a>
				{% endif %}
			</div>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function terminateMachine(ids) {
        if (typeof ids == "number") ids = [ids]
        $.ajax({
            url: '/api/v1/machines',
            method: 'DELETE',
            headers: {
                'CSRF-Token': init.csrfNonce
            },
            data: JSON.stringify({'machine_ids': ids}),
            contentType: 'application/json',
            dataType: 'json',
            success: () => {
                window.location.reload()
            },
            error: () => {
                swal("Failed!", `Machine(s) cannot be terminated`, "error");
            }
        })
    }

    $('.terminate-btn').click(function() {
        let machineId = parseInt($(this).data('machine-id'))
        let $this = $(this)
        swal({
            title: 'Confirmation',
            text: `Are you sure you want to terminate machine with id = ${machineId}?`,
            dangerMode: true,
            buttons: ['Cancel', 'Terminate'],
        }).then((value) => {
            if (value) {
                terminateMachine(machineId)       
            }
        })
    })

    $('#terminate-selected-btn').click(() => {
        let checkboxes = $('input.machine-selector[type="checkbox"]:checked')
        let machineIds = []
        for(let elm of checkboxes) {
            machineIds.push($(elm).data('machine-id'))
        }
        
        swal({
            title: 'Confirmation',
            text: 'Please write "terminate all" to confirm that you will terminate selected machines.',
            dangerMode: true,
            buttons: {
                cancel: true,
                confirm: {
                    text: 'Confirm'
                }
            },
            content: {
                element: "input",
                attributes: {
                    placeholder: "terminate all",
                },
            },
        }).then((value) => {
            if (value == "terminate all") {
               terminateMachine(machineIds) 
            }
        })
    })
    $('input.machine-selector[type="checkbox"]').click(function(){
        let numChecked = $('input.machine-selector[type="checkbox"]:checked').length
        $('#terminate-selected-btn').attr('disabled', numChecked == 0)
        if (numChecked == 0) {
            $('#machine-check-all').prop('checked', false)
        }
    })
    $('#machine-check-all').click(function(){
        $('#terminate-selected-btn').attr('disabled', $(this).prop('checked') == false)
    })
</script>
{% endblock %}
